section{
  display: flex;
  justify-content: center;
  align-items: center;

  h2{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #40C4FF;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    color: #282828;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
  }
}