header{
  text-align: center;

  h1{
    text-align: center;
    margin: 10vh 0;
    font-size: 40px;
  }
}






@media (max-width: 640px) {

  header {
    h1 {
      margin: 5vh 0;
      font-size: 28px;
    }
  }
}